discord~=2.3.2
asyncio~=3.4.3
cryptography>=39.0.1
django-emoji~=2.2.2
Pillow~=10.1.0
numpy~=1.26.1
requests~=2.31.0
toxicityclassifier~=0.1.10
openai~=0.28.1
nest_asyncio~=1.5.8
openai-async~=0.0.3
nltk~=3.8.1
SQLAlchemy~=2.0.22
aiosqlite~=0.19.0
greenlet~=3.0.1
scikit-learn~=1.3.1
msvc-runtime~=14.34.31931 #  норм версия
