discord~=2.2.3
asyncio~=3.4.3
cryptography>=39.0.1
django-emoji~=2.2.2
Pillow~=9.5.0
numpy~=1.24.3
requests~=2.31.0
toxicityclassifier~=0.1.10
openai~=0.27.7
nest_asyncio~=1.5.6
openai-async~=0.0.16
nltk~=3.8.1
SQLAlchemy~=2.0.15
aiosqlite~=0.19.0
greenlet~=2.0.2
